.experience-card {
    border: 1px solid transparent;
    padding: 20px;
    background-color: var(--primary-color-darker);
    border-radius: 10px;
    transition: 1s all;
    
    cursor: default;
  
    .icon-box {
      background-color: var(--primary-color-lighter);
      color: white;
      padding: 10px;
      border-radius: 10px;
      font-size: 1.4rem;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1/1;
    }

    
  
    .flag {
      width: 20px;
      height: auto;
      border-radius: 2px;
    }
  }
  

.experience-card:hover {
  border: 1px solid #434343;
}

.tech-stack {
  .tech-pill {
    margin: 0px 2px;
    border: 1px solid var(--treciary-color-white);
    background-color: var(--primary-color);
    color: var(--treciary-color-white);
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 0.45rem;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    transition: background-color 0.3s ease;
    cursor: default;

    &:hover {
      background-color: var(--primary-color);
    }
  }
}
